.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.nav {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  display: flex;
  gap: 40px;
}

.logo-studio {
  color: #2e2f42;
  margin-left: -5px;
}

.footer-logo {
  color: #f4f4fd;
  margin-left: -5px;
}

.link-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.link-nav:focus, .link-nav:hover {
  color: #404bbf;
}
 .studio {
  color: #404bbf;
 }


.studio::after {
  display: flex;  
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}


.link-address {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  padding: 24px 0;
  display: block;
}
.link-address:hover {
  color: #404bbf;
}
.link-address:focus {
  color: #404bbf;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-address {
 
}

.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu-open-icon {
  fill: #f4f4fd;
}

